@import "tailwindcss";

@theme {

  --font-roboto: "Roboto", system-ui, -apple-system, sans-serif;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #dddddd;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #999999;
  --color-neutral-400: #777777;
  --color-neutral-900: #000000;

  --color-brand: #7695ec;
  --color-success: #47b960;
  --color-danger: #ff5151;

  --color-overlay: #777777cc;

  --color-main-bg: var(--color-neutral-100);
  --color-main-border: var(--color-neutral-200);

  --animate-shimmer: shimmer 2s infinite linear;
  
  @keyframes shimmer {
    from {
      background-position: -200% 0;
    }
    to {
      background-position: 200% 0;
    }
  }
}

@layer base {
  html {

    font-family: var(--font-roboto);
    background-color: var(--color-main-bg);
    color: var(--color-neutral-900);
    
    line-height: 1.5;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }


  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  button{
    cursor: pointer;
  }
}


.skeleton-shimmer {
  background: linear-gradient(
    90deg, 
    var(--color-neutral-100) 25%, 
    var(--color-neutral-200) 50%, 
    var(--color-neutral-100) 75%
  );
  background-size: 200% 100%;
  
  animation: var(--animate-shimmer);
}